---
import { Image } from 'astro:assets';
import amazon from '../assets/amazon.png';
import google from '../assets/google.png';
import apple from '../assets/apple.png';
import metaLogo from '../assets/meta.png';
import grammarly from '../assets/grammarly.svg';
import pcai from '../assets/pcai.svg';

---

<section>
<h2>supported by thought leaders <nobr>of the worlds leading tech organizations</nobr></h2>
<div class="logo-container">
  <img src={amazon.src}>
  <img src={google.src}>
  <img src={apple.src}>
  <img src={metaLogo.src}>
  <img src={grammarly.src}>
  <img id="pcai" src={pcai.src}>
</div>
</section>

<style lang="scss">
	@import "../variables/global.scss";

  section{
    color: $color-primary-text;
    max-width:1000px;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    flex-direction:column;
    gap: 32px;
    align-items: center;
    margin-top: 32px;
    margin-bottom:32px;
    padding:24px;

  }

  .logo-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    place-items: center;

  }

  

  img{
    max-width: 140px;
    max-height: 57px;
    padding: 0px 24px;
  
    
  }

  #pcai{
    padding:0px;
    max-width: 200px;
  }

  h2{
    font-weight:300;
    font-size: 1rem;
    max-width: 600px;
    text-align: center;
  }

  @media only screen and (max-width: 1000px) {
    h2{
    font-weight:300;
    font-size: 1rem;
    max-width: 600px;
    text-align: center;
  }

  .logo-container{
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    max-width: 100%;

  }

  img{
    max-width: 100px;
    max-height: 57px;
    padding: 0px 8px;
  }

  #pcai{
    padding:0px;
    max-width: 100px;
  }

}
</style>
